# See http://help.github.com/ignore-files/ for more about ignoring files.
node_modules
.next
.turbo
dist/**
webpack-assets.json
size-plugin.json

# IDE
.env
.idea
.vim
.vscode

# Miscellaneous
.DS_Store
*.hot-update.*
*.log
*.log.*
